# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# IDEs / Editors
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Build outputs
target/
build/
out/
.DS_Store
**/.DS_Store # This covers .DS_Store in subdirectories too
